[submodule "packages/vim-mode"]
	path = packages/vim-mode
	url = git@github.com:atom/vim-mode.git
[submodule "packages/editor-stats"]
	path = packages/editor-stats
	url = git@github.com:atom/editor-stats.git
[submodule "packages/atom-lint"]
	path = packages/atom-lint
	url = git@github.com:yujinakayama/atom-lint.git
[submodule "packages/npm-install"]
	path = packages/npm-install
	url = git@github.com:hughsk/atom-npm-install.git
